################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BssomSerializers
/BssomSerializers/bin/Debug
/BssomSerializers/obj
/BssomSerializers.Test/bin/Debug
/BssomSerializers.Test/obj
