################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BssomSerializers
/Bssom.Serializer/bin
/Bssom.Serializer/obj
/Bssom.Serializer.Test/bin
/Bssom.Serializer.Test/obj
/Bssom.Serializer.Benchmark/bin
/Bssom.Serializer.Benchmark/obj
/DynamicAssemblyDumper/bin
/DynamicAssemblyDumper/obj
/.vs/BssomSerializer/v16

/.vs/BssomSerializer/DesignTimeBuild
